.backspace {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: helvetica;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    margin: 1px;
    background-color: gray;
    color: white;
    width: 60px;
    height: 60px;
  }
  
  .backspace:hover {
    background-color: darkgray;
  }
  
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('../../public/fonts/HelveticaNeue.otf');
  }

  .image {
    width: 38px; /* Change the width to 400 pixels */
    height: 40px; /* Change the height to 300 pixels */
  

    filter: brightness(0%) invert(100%);
  }