.backspace{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
  font-weight: bold;
  height: 50px;
  width: 70px;
  font-size: 3vw;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s;
  background: gray;
  color: white;
  margin: 1px;
}
  
  .backspace:hover {
    background-color: darkgray;
  }
  
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('../../public/fonts/HelveticaNeue.otf');
  }

  .image {
    width: 25px; /* Use relative unit (vw) for width */
    height: 25px; /* Use relative unit (vw) for height */
    filter: brightness(0%) invert(100%);
  }