.enter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
  font-weight: bold;
  height: 50px;
  width: 70px;
  font-size: 14px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s;
  background: gray;
  color: white;
  margin: 1px;
}








  
  .enter:hover {
    background-color: darkgray;
  }
  
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('../../public/fonts/HelveticaNeue.otf');
  }