


.key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
    font-weight: bold;
    height: 50px; /* Changed from 7vw to an absolute value */
    width: 35px; /* Changed from 5vw to an absolute value */
    font-size: 14px; /* Changed from 2vw to an absolute value */
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background: gray;
    color: white;
    margin: 1px;
  }

.key:hover {
    background-color: darkgray;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../../public/fonts/HelveticaNeue.otf');
}