.letter {
  height: 5vh;
  display: inline-row;
  width: 5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: helvetica;
  display: flex;
  font-weight: bold;
  font-size: 2vh;
  margin: 0.1vh;
  background: gray;
}


.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: #444444;
}

.gray {
  background-color: rgba(0,0,0,0);
  border: 2px solid gray;
}

.letter:not(.empty) {
  transform: scale(1);
}
.letter.empty {
  transform: scale(0.9);
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../public/fonts/HelveticaNeue.otf');
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background: green;
  }
}

.flip {
  animation: flip 500ms ease forwards;
}