.lettergrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.125vh; /* Change gap to match the margin of .letter */
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.keyboard {
  align-items: center;
  justify-content: center;
  display: flex;
}

.space {
  margin-top: 50px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.lettergrid-container {
  padding-top: 80px;
}