.letter {
  height: 5vh;
  display: inline-row;
  width: 5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: helvetica;
  display: flex;
  font-weight: bold;
  font-size: 2vh;
  margin: 0.1vh;
  background: gray;
  overflow: hidden; /* Add this line to prevent content from overflowing */
  color: black;
  background: var(--bg-color, gray);
}

.innerLetter {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2vh;
}

.green .innerLetter,
.yellow .innerLetter,
.black .innerLetter,
.gray .innerLetter {
  background: gray;
}

.green .innerLetter {
  background-color: green;
  animation: flip 1s ease forwards;
}

.yellow .innerLetter {
  background-color: yellow;
  animation: flip 1s ease forwards;
}

.black .innerLetter {
  background-color: #444444;
  animation: flip 1s ease forwards;
}

.gray .innerLetter {
  background-color: rgba(0,0,0,0);
  border: 2px solid gray;
}

@keyframes flip {
  0%, 45% {
    transform: rotateX(0);
    background: var(--bg-color, gray);
    border-color: #333;
  }
  50% {
    transform: rotateX(90deg);
    background: var(--bg-color, gray);
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: black;
  }
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../public/fonts/HelveticaNeue.otf');
}

.green .innerLetter,
.yellow .innerLetter,
.black .innerLetter {
  /* Add the animation-delay property */
  animation: flip 0.5s ease forwards;
  animation-delay: var(--animation-delay, 0s);
}