.green,
.yellow,
.black,
.gray,
.lettergrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.125vh; /* Change gap to match the margin of .letter */
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.wrapper {
  z-index: 1;
}

.keyboard {
  align-items: center;
  justify-content: center;
  display: flex;
}

.disableBackground {
  pointer-events: none;
  z-index: 1;
}

.space {
  margin: 50px;
}

.green {
  --background: green;
  --border-color: green;
  background-color: green;
  animation: flip 1s ease forwards;
}

.yellow {
  --background: yellow;
  --border-color: yellow;
  background-color: yellow;
  animation: flip 1s ease forwards;
}

.black {
  --background: #444444;
  --border-color: #444444;
  background-color: #444444;
  animation: flip 1s ease forwards;
}

.lettergrid-container {
  padding-top: 80px;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: gray;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: gray;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: black;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.invalid-row {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}








.green,
.yellow,
.black {
  /* Add the animation-delay property */
  animation: flip 0.3s ease forwards;
  animation-delay: var(--animation-delay, 0s);
}