.letter {
  height: 60px;
  display: inline-row;
  width: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: helvetica;
  display: flex;
  font-weight: bold;
  font-size: 28px;
  border-radius: 10px;
  margin: 1px;
  background: gray;
  transition: all 0.2s ease-in-out; /* Add this transition */
}

.letter:not(.empty):hover {
  transform: scale(1.1); /* Add this hover effect */
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: #444444;
}

.gray {
  background-color: gray;
}

.letter:not(.empty) {
  transform: scale(1);
}
.letter.empty {
  transform: scale(0.9);
}