.starter_modal {
    background-color: darkgray;
    height: 600px;
    width: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 0.starter_3s ease-out, visibility 0.starter_3s ease-out;
    z-index: 50;
    opacity: 1;
  }
  
  .starter_modal_message {
    font-weight: bold;
    text-align: center;
    margin: 20px 100px;
    line-height: 1.2em;
  }
  
  .starter_modal_open {
    opacity: 1;
    visibility: visible;
  }
  
  .starter_modal_button {
    border-radius: 5px;
    height: 50px;
    width: 100px;
    background-color: brown;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .starter_modal_closed {
    opacity: 0;
    visibility: hidden;
  }

  .green,
.yellow,
.black,
.gray,
.lettergrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.125vh; /* Change gap to match the margin of .letter */
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}